# Capstone EDA - Varan Satchi

__Proposal__: Analyze ~ three million Russian troll tweets

__Data Source__: https://fivethirtyeight.com/features/why-were-sharing-3-million-russian-troll-tweets/

__Proposed Methods and Models / Risks / Assumptions / Goals__:
1. Basic Idea: Supervised classification of account_type using NLP vectorizer methods and a model pipline
2. Advanced Ideas: In an ideal world, I'd like to incorporate some more advanced concepts. At this point, I'm considering some unsupervised learning method - like clustering - or using neural networks
3. I'm relying heavily on the previous due dilligence of the researchers at Clemson University and the editors at FiveThirtyEight, as I've taken the data directly from them (as opposed to scraping via Twitter API). I feel this is not a huge risk / assumption, as both parties are extremely sophisticated
4. I wonder if imbalanced classes will be an issue moving forward, as the account types are quite disparate in terms of distribution
5. The overall goal of this capstone is to gain an understanding of online politics / astroturfing
    - the specific goal, at this point, is to effectivley classify Russian internet trolls

In [1]:
import pandas as pd

In [7]:
# loading in the 13 CSVs
df1 = pd.read_csv('./russian-troll-tweets/IRAhandle_tweets_1.csv')
df2 = pd.read_csv('./russian-troll-tweets/IRAhandle_tweets_2.csv')
df3 = pd.read_csv('./russian-troll-tweets/IRAhandle_tweets_3.csv')
df4 = pd.read_csv('./russian-troll-tweets/IRAhandle_tweets_4.csv')
df5 = pd.read_csv('./russian-troll-tweets/IRAhandle_tweets_5.csv')
df6 = pd.read_csv('./russian-troll-tweets/IRAhandle_tweets_6.csv')
df7 = pd.read_csv('./russian-troll-tweets/IRAhandle_tweets_7.csv')
df8 = pd.read_csv('./russian-troll-tweets/IRAhandle_tweets_8.csv')
df9 = pd.read_csv('./russian-troll-tweets/IRAhandle_tweets_9.csv')
df10 = pd.read_csv('./russian-troll-tweets/IRAhandle_tweets_10.csv')
df11 = pd.read_csv('./russian-troll-tweets/IRAhandle_tweets_11.csv')
df12 = pd.read_csv('./russian-troll-tweets/IRAhandle_tweets_12.csv')
df13 = pd.read_csv('./russian-troll-tweets/IRAhandle_tweets_13.csv')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (0,15,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (10,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [44]:
df1.sample() # seems legit

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,account_type,retweet,account_category,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1
69543,2586506586,ALEXHARRITONOV,Украинские гастроли грузинского подкидыша http...,Azerbaijan,Russian,11/11/2016 3:03,11/11/2016 3:03,136,2208,2121,...,Russian,1,NonEnglish,0,2586506586,796911228211830784,http://twitter.com/2586506586/statuses/7969112...,http://www.postsovet.ru/blog/russia/834356.htm...,NaN,NaN

In [10]:
# going to combine these dataframes together for ease of use
frames = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13]

In [11]:
master = pd.concat(frames)

In [12]:
master.head()

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,account_type,retweet,account_category,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1
0,906000000000000000,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,English,10/1/2017 19:58,10/1/2017 19:59,1052,9636,253,...,Right,0,RightTroll,0,905874659358453760,914580356430536707,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/914580356430...,NaN,NaN
1,906000000000000000,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,English,10/1/2017 22:43,10/1/2017 22:43,1054,9637,254,...,Right,0,RightTroll,0,905874659358453760,914621840496189440,http://twitter.com/905874659358453760/statuses...,https://twitter.com/damienwoody/status/9145685...,NaN,NaN
2,906000000000000000,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,English,10/1/2017 22:50,10/1/2017 22:51,1054,9637,255,...,Right,1,RightTroll,0,905874659358453760,914623490375979008,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/913231923715...,NaN,NaN
3,906000000000000000,10_GOP,JUST IN: President Trump dedicates Presidents ...,Unknown,English,10/1/2017 23:52,10/1/2017 23:52,1062,9642,256,...,Right,0,RightTroll,0,905874659358453760,914639143690555392,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/914639143690...,NaN,NaN
4,906000000000000000,10_GOP,"19,000 RESPECTING our National Anthem! #StandF...",Unknown,English,10/1/2017 2:13,10/1/2017 2:13,1050,9645,246,...,Right,1,RightTroll,0,905874659358453760,914312219952861184,http://twitter.com/905874659358453760/statuses...,https://twitter.com/realDonaldTrump/status/914...,NaN,NaN

In [17]:
master.sample(5)

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,account_type,retweet,account_category,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1
179241,1682444790,PEYTONCASHOUT,The NBA's Board of Governors has voted to redu...,United States,English,7/12/2017 21:29,7/12/2017 21:30,716,774,5142,...,Left,1,LeftTroll,0,1682444790,885249834734698496,http://twitter.com/1682444790/statuses/8852498...,NaN,NaN,NaN
254280,2611151319,SEATTLE_POST,#LobsangDargey was an American success story. ...,United States,English,10/24/2015 17:48,10/24/2015 17:49,3705,11443,12944,...,local,0,NewsFeed,0,2611151319,657977088096522240,http://twitter.com/Seattle_Post/statuses/65797...,https://twitter.com/Seattle_Post/status/657977...,NaN,NaN
211257,2912754262,PIGEONTODAY,"'@mashable Yes, I'm a woman'",United States,English,11/25/2015 15:50,11/25/2015 15:50,16920,19764,10669,...,Right,0,RightTroll,0,2912754262,669543579551817729,http://twitter.com/PigeonToday/statuses/669543...,NaN,NaN,NaN
97224,2570574680,RIAFANRU,Иран считает С-300 краеугольным камнем отношен...,Belarus,Russian,4/21/2016 12:40,4/21/2016 12:40,2929,11196,50701,...,Russian,0,NonEnglish,0,2570574680,723129190103539712,http://twitter.com/riafanru/statuses/723129190...,http://riafan.ru/518121-iran-schitaet-s-300-kr...,NaN,NaN
48088,1655194147,MELANYMELANIN,Caption this. #KushnerAtWar https://t.co/pyySM...,United States,English,4/8/2017 19:05,4/8/2017 19:05,890,954,5413,...,Left,1,LeftTroll,0,1655194147,850786625575690240,http://twitter.com/1655194147/statuses/8507866...,https://twitter.com/Delo_Taylor/status/8507841...,NaN,NaN

In [14]:
master.shape

(2946207, 21)

In [15]:
master.isnull().sum()[master.isnull().sum() != 0]
'''Unsurprised by this result, considering not every tweet will have a region, link etc. attached'''

content             1
region           8818
post_type     1648625
tco1_step1     845971
tco2_step1    2235090
tco3_step1    2931207
dtype: int64

In [18]:
# Dealing with non-English tweets, while interesting, is beyond my linguistic capabilities!
mask = master['language'] == 'English'
master = master[mask]

In [34]:
# just checking!
master[master['language'] != 'English']

Empty DataFrame
Columns: [external_author_id, author, content, region, language, publish_date, harvested_date, following, followers, updates, post_type, account_type, retweet, account_category, new_june_2018, alt_external_id, tweet_id, article_url, tco1_step1, tco2_step1, tco3_step1]
Index: []

[0 rows x 21 columns]

In [21]:
master.shape # still have a massive number of tweets

(2116867, 21)

In [42]:
# as this is a potential target variable, I want to examine it a bit closer
master.account_type.unique()

array(['Right', 'Koch', 'Italian', 'Russian', 'Left', '?', 'German',
       'Hashtager', 'Arabic', 'local', 'Commercial', 'French',
       'ZAPOROSHIA', 'news', 'Ebola ', 'Spanish', 'Portuguese'],
      dtype=object)

In [50]:
master.groupby('account_type').nunique()

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,account_type,retweet,account_category,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1
account_type,,,,,,,,,,,,,,,,,,,,,
?,161,207,6271,12,1,3207,3276,440,317,1164,...,1,2,1,2,208,6945,6945,2890,539,14
Arabic,22,22,1027,7,1,944,942,421,274,944,...,1,2,1,2,22,1030,1030,562,119,0
Commercial,8,6,112353,2,1,57827,57494,280,792,54408,...,1,2,1,1,8,112580,112580,95070,8384,1
Ebola,2,2,65,1,1,70,70,3,2,69,...,1,1,1,1,2,70,70,2,0,0
French,3,10,54,3,1,67,69,37,24,56,...,1,2,1,1,10,70,70,52,2,0
German,79,122,2547,7,1,2573,2661,981,964,1664,...,1,2,1,2,121,3567,3567,2226,1086,2
Hashtager,114,112,109761,4,1,47972,49115,7674,10120,26467,...,1,2,1,2,114,236092,236092,22799,792,45
Italian,6,9,1771,2,1,1464,1504,70,102,1377,...,1,2,1,2,10,1799,1799,1730,572,3
Koch,122,121,8543,3,1,2930,2988,127,81,631,...,1,2,1,2,121,10759,10759,1051,116,3
Left,231,233,330014,4,1,168375,177118,11156,20187,14904,...,1,2,1,2,233,422141,422141,217417,43048,498
Portuguese,1,1,2,1,1,2,2,1,1,2,...,1,1,1,1,1,2,2,1,0,0
Right,449,630,612134,6,1,212177,220285,19906,37380,61534,...,1,2,1,2,631,703571,703574,377947,71884,2406
Russian,627,629,12520,21,1,15529,15804,1488,3355,6622,...,1,2,1,2,630,20015,20015,10385,3831,30
Spanish,2,2,79,2,1,68,70,3,19,79,...,1,1,1,2,2,79,79,65,7,0
ZAPOROSHIA,1,1,172,1,1,84,84,10,12,169,...,1,2,1,1,1,172,172,16,0,0
local,37,38,447035,2,1,349076,349092,15165,23444,59398,...,1,2,1,2,37,458009,458012,284484,192047,9150
news,16,16,131727,6,1,104264,106636,4424,10206,46543,...,1,2,1,2,16,138581,138581,34754,4658,14

In [52]:
master['account_type'].value_counts()

Right         704953
local         458012
Left          422141
Hashtager     236092
news          138581
Commercial    112580
Russian        20015
Koch           10759
?               6945
German          3567
Italian         1799
Arabic          1030
ZAPOROSHIA       172
Spanish           79
French            70
Ebola             70
Portuguese         2
Name: account_type, dtype: int64